In [1]:
#导入筛选和清洁后的数据
import numpy as np
import pandas as pd
from sklearn import preprocessing
%matplotlib inline
from matplotlib import pyplot as plt
data = pd.read_csv("C:\\Users\\李乔乔\\Desktop\\华数杯数学建模\\huashubei_buqi.csv",engine='python')
data1=data
data1.head(7)
data1
pct_null = data.isnull().sum() / len(data)
pct_null#有四个变量有数据缺失

目标客户编号    0.000000
品牌类型      0.000000
a1_new    0.000000
a2_new    0.000000
a3_new    0.000000
a4_new    0.000000
a5_new    0.000000
a6_new    0.000000
a7_new    0.000000
a8_new    0.000000
B1        0.000000
B2        0.000000
B3        0.000000
B4        0.000000
B5        0.000000
B6        0.000000
B7        0.002546
B8        0.000000
B9        0.000000
B10       0.000000
B11       0.000000
B12       0.000000
B13       0.000000
B14       0.000000
B15       0.000000
B16       0.000000
B17       0.000000
购买意愿      0.000000
dtype: float64

In [2]:
#定义随机森林算法补齐函数
# data_df: DataFrame类型的数据#前面已经删除
# obj_column：待填补缺失值的列名
# missing_other_column：数据中含义空值的其他列
########## 缺失值处理

def fill_miss_byRandomForest(data_df , obj_column ):
    
    # 分成已知该特征和未知该特征两部分
    known = data_df[data_df[obj_column].notnull()]
    unknown = data_df[data_df[obj_column].isnull()]
    # y为结果标签值
    y_know = known[obj_column]
    # X为特征属性值
    X_know= known.drop(obj_column , axis = 1)
    from sklearn.ensemble import RandomForestRegressor
    rfr = RandomForestRegressor(random_state=0, n_estimators=200,max_depth=3,n_jobs=-1)
    rfr.fit(X_know,y_know)
    # 用得到的模型进行未知特征值预测
    # X为特征属性值
    X_unknow= unknown.drop(obj_column , axis = 1)
    predicted = rfr.predict(X_unknow).round(0)
    data_df.loc[(data_df[obj_column].isnull()), obj_column] = predicted
    return data_df

In [4]:
data1.drop(["目标客户编号"], axis=1, inplace=True)
            #删除第一列之外的变量

In [6]:
data1.head(7)

,品牌类型,a1_new,a2_new,a3_new,a4_new,a5_new,a6_new,a7_new,a8_new,B1,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
0,2,71.68,72.41,74.05,69.92,80.84,75.23,73.20,77.34,2,...,6,14,2,3,19.0,11,10,30,5,0
1,3,88.92,90.18,88.92,88.88,88.87,88.88,90.98,88.87,2,...,6,5,4,4,18.0,10,8,0,30,0
2,3,67.26,67.10,66.69,70.34,69.73,69.74,73.52,66.66,2,...,4,9,5,2,24.0,10,17,0,0,0
3,3,93.53,90.94,73.90,88.88,90.65,94.17,95.60,96.65,2,...,6,10,4,7,27.0,10,10,18,25,0
4,3,89.65,93.95,73.90,96.30,88.87,96.92,95.60,95.88,2,...,6,13,4,2,25.0,15,15,0,0,0
5,3,75.53,81.09,62.94,77.77,66.65,74.70,77.77,77.76,1,...,6,9,3,2,15.0,10,7,30,5,0
6,3,81.30,90.59,81.56,78.66,71.67,69.74,73.26,85.20,1,...,6,10,3,3,15.0,10,7,0,0,0

In [7]:
Income=fill_miss_byRandomForest(data1, 'B7')#用随机森林填补MonthlyIncome 的缺失值

In [8]:
Income.head(7)

,品牌类型,a1_new,a2_new,a3_new,a4_new,a5_new,a6_new,a7_new,a8_new,B1,...,B9,B10,B11,B12,B13,B14,B15,B16,B17,购买意愿
0,2,71.68,72.41,74.05,69.92,80.84,75.23,73.20,77.34,2,...,6,14,2,3,19.0,11,10,30,5,0
1,3,88.92,90.18,88.92,88.88,88.87,88.88,90.98,88.87,2,...,6,5,4,4,18.0,10,8,0,30,0
2,3,67.26,67.10,66.69,70.34,69.73,69.74,73.52,66.66,2,...,4,9,5,2,24.0,10,17,0,0,0
3,3,93.53,90.94,73.90,88.88,90.65,94.17,95.60,96.65,2,...,6,10,4,7,27.0,10,10,18,25,0
4,3,89.65,93.95,73.90,96.30,88.87,96.92,95.60,95.88,2,...,6,13,4,2,25.0,15,15,0,0,0
5,3,75.53,81.09,62.94,77.77,66.65,74.70,77.77,77.76,1,...,6,9,3,2,15.0,10,7,30,5,0
6,3,81.30,90.59,81.56,78.66,71.67,69.74,73.26,85.20,1,...,6,10,3,3,15.0,10,7,0,0,0

In [9]:
df= pd.DataFrame(Income)
df
df.to_csv("huashubei_buqi1.csv")

In [10]:
pct_nul = Income.isnull().sum() / len(data)
pct_nul#没有变量有数据缺失

品牌类型      0.0
a1_new    0.0
a2_new    0.0
a3_new    0.0
a4_new    0.0
a5_new    0.0
a6_new    0.0
a7_new    0.0
a8_new    0.0
B1        0.0
B2        0.0
B3        0.0
B4        0.0
B5        0.0
B6        0.0
B7        0.0
B8        0.0
B9        0.0
B10       0.0
B11       0.0
B12       0.0
B13       0.0
B14       0.0
B15       0.0
B16       0.0
B17       0.0
购买意愿      0.0
dtype: float64